@font-face {
    font-family: 'magic_school_oneregular';
    src: url('../fonts/magicschoolone-webfont.woff2') format('woff2'),
         url('../fonts/magicschoolone-webfont.woff') format('woff'),
         url('../fonts/magicschoolone-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3 {
    font-family: 'magic_school_oneregular';
    text-align: center;
    color: black;
}

h1 {
    font-size: 8rem;
}

h2 {
    font-size: 6rem;
}

h3 {
    font-size: 3rem;
}

p, button {
    font-family: 'Cormorant Upright', serif;
    font-size: 2rem;
}

button {
    border: 1px solid rgb(73, 72, 72);
    border-radius: 12px;
    box-shadow: 4px 2px 6px 0 rgb(73, 72, 72);
    margin: 1rem;
}

.centerDiv, .subDiv, p {
    margin-top: 1rem;
}

.footprints1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
}

body {
    background-image: url("../images/fallingstar_background.jpg");
}

.subDiv {
    background-image: url("../images/parchment.jpg");
    border-radius: 12px;
    border: 1px solid rgb(73, 72, 72);
    box-shadow: 5px 10px 8px 10px rgb(73, 72, 72);
    padding: 16px;
    margin: auto;
    width:90%;
    margin-bottom: 2rem;
}

.mainSection {
}

.myImg {
    width: 100%;
    vertical-align: middle;
}

.timesUp {
    color: red;
}

.strikeThrough {
    text-decoration: line-through;
    color: red;
}

@media only screen and (max-width: 732px) {
    h1 {
        font-size: 6rem;
    }
}