@font-face {
    font-family: 'magic_school_oneregular';
    src: url('magicschoolone-webfont.woff2') format('woff2'),
         url('magicschoolone-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}